# IDE:
.idea

# configuration file
plex_linter.config.toml

# make
.install.stamp

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# testing
.coverage*
results

# logs
*.log*
