# User-specific stuff:
.idea
.mypy_cache

## File-based project format:
*.iws

# VirtualEnv
ENV/

# configuration file
config.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# logs
*.log*
