# IDE:
.idea

# configuration file
plex_linter.toml

# logs
log/*
!log/.keep

# make
.install.stamp

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# testing
.coverage*
results
profile_output*

# logs
*.log*
